.postItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.postText {
  width: 100%;
  border: 1px solid #bebebe;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.text {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
